#boardWrap{position:relative;margin:0 auto;padding-bottom:60px}
.nodata{margin-top:40px;padding:40px 0;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;font-size:1.125em;color:#666;text-align:center}
.noimg, .noimg_sub{padding:20px 0;background-color:#ededed;font-size:1.125em;color:#666;text-align:center}

.b_bc_l{border-color:#ebebeb}
.b_bc_m{border-color:#d9d9d9}
.b_bc_h{border-color:#cdcdcd}
.b_fs_xs{font-size:0.625em}
.b_fs_s{font-size:0.75em}
.b_fs_m{font-size:0.875em}
.b_fs_l{font-size:1em}
.b_fs_xl{font-size:1.125em}
.b_fs_xxl{font-size:1.25em}
.b_ff_l{font-family:'NotoSansKR-Light'}
.b_ff_m{font-family:'NotoSansKR-DemiLight'}
.b_ff_h{font-family:'NotoSansKR-Medium'}
.b_lh_xs{line-height:100%}
.b_lh_m{line-height:150%}
.b_lh_l{line-height:185%}
.b_c_l{color:#7d7b7c}
.b_c_m{color:#444}
.b_c_h{color:#2b2a28}
.b_btn01{width:120px;height:48px;margin:30px auto 0;background-color:#3e3e3e;font-size:1em;line-height:48px;color:#fff;text-align:center}

/* list page */
.board_list > li{position:relative;padding:30px;border-bottom:1px solid #d9d9d9}
.board_list > li > a, .board_list > li > div{display:block;position:relative;height:100%}
.board_list > li > a:after, .board_list > li > div:after{content:'';display:block;clear:both}
.board_list_thumb{float:left;width:20%}
.board_list_thumb img{width:100%}
.board_list_text{float:left;width:78%;margin-left:2%}
.board_list_text > p{margin-right:140px}
.board_list_title{padding:16px 0 24px}
.board_list_right{position:absolute;right:0;text-align:right}
.board_list_date{top:16px;width:120px}
.board_list_hit{bottom:0;width:100px}

/* view page */
.board_view_head{position:relative;height:80px;margin-bottom:30px;background-color:#f2f2f2}
.board_view_title{margin:0 170px 0 30px;line-height:80px}
.board_view_sns{position:absolute;right:30px;top:25px}
.board_view_sns > li{float:left;margin-left:10px}
.board_view_sns > li:first-child{margin-left:0}
.board_view_sns > li > a{display:block;width:30px;height:30px}
.board_view_body{margin:0 30px}
.board_view_body img{display:block;max-width:100%;margin:0 auto 20px}
.board_view_file{margin-bottom:40px}
.board_view_text p{line-height:inherit}

/* list page paging */
.paging{position:relative;padding:30px 0 60px;font-size:0;text-align:center}
.paging_prevnext{display:inline-block;width:77px;height:35px;background-repeat:no-repeat;background-position:center}
.paging_prev{margin-right:15px;background-image:url('../img/board/paging_prev.png')}
.paging_next{margin-left:15px;background-image:url('../img/board/paging_next.png')}
.paging_ul{display:inline-block;position:relative;font-size:0;text-align:center;vertical-align:top}
.paging_ul > li{display:inline-block;width:35px;height:35px;margin:0 2px}
.paging_ul > li > a, .paging_ul > li > span{display:block;width:100%;height:100%;border:1px solid transparent;line-height:35px;text-align:center;font-size:0.8125em;color:#767575;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
}
.paging_ul > li > a:hover, .paging_ul > li > span{border:1px solid #c7c7c7}

/* view page btns */
.view_btns_wrap{position:relative;height:80px;margin-top:30px;background-color:#f2f2f2;letter-spacing:0.2em;text-align:center}
.list_prevnext{position:absolute;top:0;width:180px;height:100%;padding-left:20px;font-weight:700;font-size:18px;line-height:80px}
.list_prevnext:before{content:'';position:absolute;top:50%;width:25px;height:18px;margin-top:-9px;background-repeat:no-repeat;background-position:center}
.list_prev{left:0}
.list_prev:before{left:20px;background-image:url('../img/board/btn_prev.png')}
.list_next{right:0}
.list_next:before{right:20px;background-image:url('../img/board/btn_next.png')}
.list_return{display:block;position:relative;width:180px;height:80px;margin:0 auto;padding-left:20px;font-weight:700;font-size:1.125em;line-height:80px;letter-spacing:0.2em;text-align:center}
.list_return:before{content:'';position:absolute;left:63px;top:50%;width:14px;height:12px;margin-top:-6px;background:url('../img/board/btn_list.png') no-repeat center}